.image-carousel-container{
    display: flex;
    justify-content: center ;
}

.item.active{
    height: 570px;
    width: 1000px;
    align-content: center;
    /* display: flex;
    justify-content: center; */
}

.carousel-inner img {
    margin: auto;
  }

/* .carousel-component{
    background-color: white;
    width: 80%;
    max-height: 100%;
    max-width: 100%;
}

.slide div{
    background-color: white;
}

.slide.selected{
    background-color: white;
}

.carousel-slider{
    width: 100%;
}

.thumbs.animated{
    display: none;
}


.carousel .control-prev.control-arrow::before{
    border-right: 8px solid black;
}

.carousel .control-next.control-arrow::before {
    border-left: 8px solid black;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    opacity: 0.9
} */