.input-main-container{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

h4{
    margin-bottom: 25px;
}

.panel-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label.btn.btn-default.active{
    background-color: #FFA700;
    color: white;
    font-weight: bold;
}

.form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

/* input{
    width: 50%;
} */

.file-selector-input-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.slider-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rangeslider .rangeslider__handle{
    background: #242727;

}

.cutoff-input{
    width: 15%;
    height: 60%;
}

.rangeslider.rangeslider-horizontal{
    width: 75%;
}

.rangeslider-horizontal .rangeslider__fill{
    background-color: #FFAC5D
}

/* .form-prompts-container{
    height: 10vh;
    width: 10vw;
    background-color: blue;
}

.form-inputs-container{
    height: 10vh;
    width: 10vw;
    background-color: red;
} */