.input-main-container{
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

h4{
    margin-bottom: 25px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel.panel-default{
    width: 100%;
    max-width: 1000px;
    -moz-box-shadow:    4px 3px 5px 6px #ccc;
    -webkit-box-shadow: 4px 3px 5px 6px #ccc;
    box-shadow:         4px 3px 5px 6px #ccc;
}

.panel-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label.btn.btn-default.active{
    background-color: #FFA700;
    color: white;
    font-weight: bold;
}

.form-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

/* input{
    width: 50%;
} */

.project-name-validator-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.file-selector-input-container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.inputFile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn.btn-default label{
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    cursor: pointer;
}

#upload-file-button{
    width:175px;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #EAEAEA, #DBDBDB, #F2F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#upload-file-button i{
    font-size:20px;
}

.file-upload-container{
    width: 50%;
    height: auto;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    -moz-box-shadow:    inset 0 0 2px #cccccc;
    -webkit-box-shadow: inset 0 0 2px #cccccc;
    box-shadow:         inset 0 0 2px #cccccc;
    border-radius: 5px;
    border-color: #ccc;
}

.file-delete-container{
    display: flex;
    font-weight: 400;
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
    min-height: 40px;
}

.file-delete-container i{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* .upload-genome-container {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
} */

/* .inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: red;
} */

.slider-container{
    width: 50%;
    max-width: 443px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rangeslider .rangeslider__handle{
    background: #242727;

}

.cutoff-input{
    width: 15%;
    height: 60%;
}

.rangeslider.rangeslider-horizontal{
    width: 75%;
}

.rangeslider-horizontal .rangeslider__fill{
    background-color: #FFAC5D
}

.form-button-container{
    width: 25%;
    display: flex;
    justify-content: space-between; 
}

/* .form-prompts-container{
    height: 10vh;
    width: 10vw;
    background-color: blue;
}

.form-inputs-container{
    height: 10vh;
    width: 10vw;
    background-color: red;
} */